apiVersion: v1
kind: Service
metadata:
  name: {{ include "xapp.fullname" . }}
  labels: { app: {{ include "xapp.name" . }} }
spec:
  selector: { app: {{ include "xapp.name" . }} }
  type: {{ .Values.service.type }}
  ports:
    - name: http
      port: {{ .Values.service.port }}
      targetPort: http
      {{- if eq .Values.service.type "NodePort" }}
      nodePort: {{ .Values.service.nodePort }}
      {{- end }}
    - name: rmr
      port: {{ .Values.service.rmrPort }}
      targetPort: rmr
